.chatContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    flex: 1;
    max-width: 84%;
}

.enviarMensagem {
    background-color: #111686;
    width: 100%;
    height: 10%; 
    transition: max-height 0.5s ease; 
    position: sticky;
    bottom: 0; 
    margin-top: auto;
    box-sizing: border-box;

}

.enviarMensagem:focus-within {
    max-height: 100%; 
}

.formMensagem {
    display: flex;
    margin: auto;
    height: 100%;
    width: 100%;
    align-items: center;
    position: sticky;
    top: 0;
    bottom: auto;
    box-sizing: border-box;
}

.formMensagem input {
    font-size: 0.8em;
    font-weight: lighter;
    background-color: white;
    min-width: 90%;
    margin-left: 2%;
    /* margin-top: 1.2%; */
    min-height: 60%;
    text-indent: 10px;
    border: none;
    outline: none;
}

.enviarButton {
    background-color: #6B6FD1;
    border-radius: 5px;
    border: none;
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding: 5px;
}

.enviarButton:hover {
    background-color: #4f53cf;
}

.enviarButton img {
    width: 70%;
    min-height: 30%;
}

.header{
    background-color: #111686;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: fit-content;
    height: 20%;
    position: sticky;
    top: 0;
}

.headerEsquerda {
    flex: 1;
}

.headerDireita {
    margin-right: 2%;
    flex: 1;
    display: flex;
    align-items: center;
}

.info{
    color:white;
    margin-top: 0.3%;
    margin-left: 3%;
    font-weight: bold;
    display: flex;
    min-height: max-content;
    padding-top: 1px;
    padding-bottom: 1%;
    /* height: 100%; */
}
.ticket{
    font-size: 1.5em;
    font-weight: bolder;
    width: fit-content;
}

.ticketFoto {
    height: 25%;
    width: 10%;
}

.encerrarChamado {
    background-color: #6B6FD1;
    width: 45%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    margin-left: auto;
    right: 0;
    padding: 2px;
    font-size: 0.9em;
}

.encerrarChamado:hover {
    background-color: #4146dd;
    cursor: pointer;
}

.encerrarChamadoConcluido {
    background-color: #898cf9;
    width: 45%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    margin-left: auto;
    right: 0;
    padding: 2px;
    font-size: 0.9em;
    cursor: not-allowed;
}

.ticketFinish {
    height: 30px;
    width: 30px;
}

.alinharDiv {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.alinharInfo {
    display: flex;
    flex-direction: column;
    margin-left: 1.5%;
}

.campoMensagens {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.campoMensagens::-webkit-scrollbar {
    display: none;
}
  
.chatbox{
    color: #FFFFFF;
    background-color: #3F416E;
    border-radius: 10px;
    padding: 10px ;
    margin-bottom: 10px;
    width: 40%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 3%;
    margin-right: 3%;
    margin-left: auto;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.otherchatbox{
    color: #FFFFFF;
    background-color: #6B6FD1;
    border-radius: 10px;
    padding: 10px ;
    margin-bottom: 10px;
    width: 40%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 3%;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

@media (max-width: 769px) {
    .info {
        margin-top: 5vh;
        margin-left: 13vw;
    }
     .chatContent {
        max-width: 100%;
    }
    .encerrarChamado {
        width: 60%;
        font-size: 0.8em;
    }
    .header{
        height: 20%;
    }
    
    .formMensagem input{
        font-size: 1rem;
    }

    .chatbox {
        height: max-content;
        max-width: 40%;
        margin-left: auto;
        right: 0;
        font-size: 0.9em;
    }

    .otherchatbox {
        height: max-content;
        margin-right: auto;
        left: 0;
        max-width: 40%;
        font-size: 0.9em;
    }

    .campoMensagens{
        width: 100%;
        margin-top: 1rem;
        height: auto;
    }
    .enviarIcon {
        width: 20%;
        height: 20%;
    }
    .enviarMensagem{
        bottom: 0;
        width: 100%;
        height: 6vh; 
    }
}

@media (max-width: 1400px) {
    .otherchatbox {
        width: 30%;
    }
    .chatbox {
        width: 30%;
    }
    .campoMensagens {
        width: 100%;
    }
    .chatContent {
        width: 50%;
    }
    .encerrarChamado {
        width: 70%;
        font-size: 0.8em;
    }
}

@media (min-width: 1401px) and (max-width: 1700px) {
    .otherchatbox {
        width: 25%;
    }
    .chatbox {
        width: 25%;
    }
    .campoMensagens {
        width: 100%;
    }
    .chatContent {
        width: 70%;
    }
}