.container {
  display: flex;;
}
.funcionarioContainer{
  background-color: #f7f7f7;
}
.nomeColumn a, .cpfColumn a, .emailColumn a {
  color: black; 
  text-decoration: none; 
}

.content {
  flex: 1;
  margin: auto;
  padding-left: 20vw;
  padding-bottom: 20vw; 
}

.center {
  text-align: center;
}

.customLayout {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 2vw;
}

.nomeColumn, .cpfColumn {
  flex: 1;
  padding-left: 2vw;
}

.nomeColumn > p, .cpfColumn > p {
  text-align: flex;
  padding-right: 0vw;
}


.nomeColumn > p, .cpfColumn > p {
  margin-bottom: 5px; 
  margin-top:5px;
}

.titleLine {

  border-bottom: 1px solid rgb(0, 0, 0); 
  width: 40vw;
  padding-bottom: 1vw;
  color: rgb(6, 6, 150);
  padding-top: 20px;
  
}
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5vw;
  padding-left: 0vw;
}

.buttonContainer button {
  padding: 10px 20px;
  background-color: blue; 
  color: white; 
  border: 1px solid blue; 
  border-radius: 5px; 
  font-size: 16px;
  cursor: pointer; 
}

.buttonContainer button:hover {
  background-color: #04048a; 
  border-color: darkblue; 
}
.nomeColumn, .cpfColumn, .emailColumn{
  padding-left: 3vw; /* Espaçamento à esquerda */
  padding-right: 3vw; /* Espaçamento à direita */
}


.customLayout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  grid-gap: 10px; /* Espaçamento entre linhas */
 margin-top: 25px;
}

.userData {
  color: black;
  display: flex;
  flex-direction: column;
  border: 0.01em solid rgba(238, 238, 238, 0.5); 
  padding: 10px; 
  word-wrap: break-word;
}


@media (max-width: 768px) {
  .content {
    width: 90vw; 
    padding: px; 
  }
  .customLayout {
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
  }
  .nomeColumn, .cpfColumn, .emailColumn {
    width: 45vw; 
    max-width: none; 
    padding-left: 0; 
    padding-right: 30vw; 
    margin-bottom: 0;
  }
  .titleLine {
    width: 60vw;
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    padding-right: 50vw;
    padding-top: 15vw;
  }

  .customLayout {
    display: flex;
    flex-direction: column; 
    justify-content: space-around; 
    align-items: center;
    margin-left: 2vw;
  }
  .verdetalheslink {
    position: center;
    padding-top: 23vw;    
  }
}