.container {
  display: flex;
}

.content {
  flex: 1;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  text-align: center;
}

.customLayout {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 12vw;
}

.categoryTable {
  width: 80%; /* Ajuste a largura conforme necessário */
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

.categoryTable thead tr {
  background-color: #f2f2f2;
  text-align: left;
  font-weight: bold;
}

.categoryTable th, .categoryTable td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.categoryTable tbody tr {
  border-bottom: 1px solid #ddd;
}

.categoryTable tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

.categoryTable tbody tr:last-of-type {
  border-bottom: 2px solid #060696;
}

.categoryTable tbody tr:hover {
  background-color: #f1f1f1;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.buttonContainer button {
  padding: 10px 20px;
  background-color: #060696;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonContainer button:hover {
  background-color: #04048a;
}

#detalheslink {
  color: #060696;
  text-decoration: none;
  transition: color 0.3s ease;
}

#detalheslink:hover {
  color: #04048a;
}

@media (max-width: 768px) {
  .content {
    padding: 10px;
  }
  .categoryTable {
    font-size: 14px;
  }
}
