.container {
    display: flex;
}

.nomeColumn a, .cpfColumn a, .emailColumn a {
    color: black; 
    text-decoration: none; 
}

.content {
    flex: 1;
    margin: auto;
    padding-left: 20vw;
    padding-bottom: 20vw; 
}

.center {
    text-align: center;
}

.customLayout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    margin-top: 25px;
}

.nomeColumn, .cpfColumn {
    padding-left: 2vw;
}

.nomeColumn > p, .cpfColumn > p {
    padding-right: 0vw;
}

.nomeColumn > p, .cpfColumn > p {
    margin-bottom: 5px; 
    margin-top: 5px;
}

.titleLine {
    border-bottom: 1px solid rgb(0, 0, 0); 
    width: 40vw;
    padding-bottom: 1vw;
    color: rgb(6, 6, 150);
    padding-top: 20px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vw;
    padding-left: 0vw;
}

.buttonContainer button {
    padding: 10px 20px;
    background-color: blue; 
    color: white; 
    border: 1px solid blue; 
    border-radius: 5px; 
    font-size: 16px;
    cursor: pointer; 
}

.categoryTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.categoryTable th,.categoryTable td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.categoryTable th {
  background-color: #f0f0f0;
}

.categoryTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.categoryTable tr:hover {
  background-color: #ccc;
}

.categoryTable td a {
  color: black;
  text-decoration: none;
}

.categoryTable td a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .content {
    width: 100%;
    padding: 0;
  }
  .nomeColumn, .cpfColumn, .emailColumn {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
  }
  .titleLine {
    width: 80vw;
  }
  .buttonContainer {
    display: flex;
    justify-content: center;
    padding-right: 0;
    padding-top: 15vw;
  }
}