.global{
    display: grid;
    width: 80%;
    height: fit-content;
}
.linha{
    border-bottom: 1px solid #ddd;
    width: 100%;
    height: 0px;
    margin-left: 2%;
}

.containermaior{
    display: flex;
    flex-direction: column;
    justify-items: center;
    height: fit-content;
    width: fit-content;
    margin-left: 39%;
    margin-top: 10%;
}
.containerspanidentificacao{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.tipofuncionario{
    justify-content: center;
    width: 100%;
    text-align: center;
    height: fit-content;
    padding: 20px;
}
.funcionarioid{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}
.cotainerinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
}
.nome{
    margin-bottom: 3%;
}
.cpf{
    margin-bottom: 3%;
}
.email{
    margin-bottom: 3%;
}
.ativo{
    margin-bottom: 3%;
}
.button{
    background-color: #0202c4;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    outline: none;
    border-radius: 5px;
    text-align: center;
    user-select: none;  
    border: #ddd;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
    width: 150px;
    margin: 1%;
}
.button:hover{
    background-color: #030350;
}

.containerbotao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 20px;
    margin: 1%;
}

@media (max-width: 900px){
    .global{
        margin-left: 3%;
    }
    .linha{
        width: 100%;
    }
    .containermaior{
        margin-left: 10%;
    }
    .containerbotao{
        margin-left: 3%;
    }
}
@media (max-width: 1440px){
    .title{
        margin-left: 8%;
    }
    .linha{
        width: 100%;
    }
    .containermaior{
        margin-left: 10%;
    }
    .containerbotao{
        margin-left: 3%;
    }
}
