.global{
    display: grid;
    width: 100%;
    height: fit-content;
    margin: 0 auto auto 0;
}
.linha{
    /* display: flex; */
    /* justify-content: center; */
    border-bottom: 1px solid #ddd;
    width: 90%;
    height: 0px;
    margin: auto;
}
.img{
    height: 100px;
    width: 100px;
    margin-top: 20%;
    margin-bottom: 20%;
}

.containermaior{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    margin: auto;
}
.containerspanidentificacao{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-top: 2%;
    width: 80%;
    justify-content: flex-start;
}
.tipofuncionario{
    justify-content: center;
    width: 100%;
    text-align: center;
    height: fit-content;
    padding: 20px;
}
.funcionarioid{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.cotainerinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
}
.employeetable{
    border-collapse: collapse;
    width: 100%;
    font-size: larger;
}
.employee-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
  }

.employee-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
.employee-table tr:hover {
    background-color: #ddd;
  }
.nome{
    margin-bottom: 3%;
    font-weight: bold;
    color: #333;
}
.conteudo{
    padding-left: 3%;
}
.cpf{
    margin-bottom: 3%;
    color: #666;
}
.email{
    margin-bottom: 3%;
    color: #666;
}
.ativo{
    margin-bottom: 3%;
}
.button{
    background-color: #00046D;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    outline: none;
    border-radius: 5px;
    text-align: center;
    user-select: none;  
    border: #ddd;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
    width: 150px;
    margin: 1%;
}
.button:hover{
    background-color: #0101A1;
}

.containerbotao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 20px;
    margin: 1%;
}
@media(max-width: 680px){
        .containerbotao{
        
    }
}

@media (max-width: 900px){
    .global{
        margin-left: 3%;
    }
    .linha{
        width: 80%;
    }
   .containermaior{
        display: flex;
        justify-content: center;
    }

}
@media (max-width: 1440px){
    .title{
        margin-right: 2%;
    }
    .linha{
        width: 85%;
    }
    .containermaior{
        display: flex;
        justify-content: center;
    }
    .containerbotao{
        margin-left: 3%;
    }
}