.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    
}

.container header{
    margin-bottom: 2%;
}
 
.linha{
    border-bottom: 1px solid #ddd;
    width: 180%;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3%;
    margin-left: 4%;
}

.form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 80%; 
    border-radius: 1%;
    margin-left: 6%;
}

.form label {display: block;margin-bottom: 10px; font-weight: bold;
}
  
.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {width: 80%; 
}
  

  
.form form {
  border: none;
}

.seletor{
    width: 81.5%; 
    padding: 5px; 
    font-size: 16px; 
    border: 1px solid black; 
    border-radius: 5px; 
    background-color: white; 
    color: #555;
    font-weight: lighter;
}
  
  
.seletor option {
    font-size: 16px; 
    font-weight: lighter;
}
  
  
.seletor option:checked {
    background-color: #ddd; 
    color: #000; 
}

.textarea{
    width: 81%;
    height: 80%;
    resize: none;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin-left: 6%;
    margin-bottom: 10%;
}

#Editar {
    background-color: #0202c4;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    outline: none;
    border-radius: 5px;
    text-align: center;
    user-select: none;  
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
    width: 150px; 
    margin-left: 35%;
}

#Editar:hover {
    background-color: #030350;
}

.textarea::placeholder{
    padding: 1px;
}

