.container {
    display: flex;
    flex-direction: column;
    width: 180vh;
    padding: 2%;
    height: fit-content;
}
.bar{
    max-width: 80%;
}
.containerbar{
    margin-left: 16%;
}
.title{
    display: flex;
    height: fit-content;
    text-align: center;
    margin-bottom: 3%;
    color: #00046D;
    justify-content: center;
}
.selectContainer {
    display: flex;
    justify-content: center;
    margin-right: 7%;
    
}
.select{
    padding: 10px;
    font-size: 16px;
}
.errorMessage {
    color: red;
}
