

.container {
  display: flex;  
  justify-content: center;
  flex-direction: row;
  margin-left: 10%;
  width: 100%;
}
.bemvindo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #00046D;
  color: white;
  padding: 20px;
  width: 60%; 
  border-radius: 3%;
  margin: 5%;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.form {
  background-color: white;
  color: #00046D;
  padding: 20px;
  width: 60%; 
  border-radius: 1%;
  margin: 5%;
  margin-left: 5%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transform: translate(-26%);
}

.title{
  font-size: xx-large;
  text-align: center;
}

.texto{
  font-size: x-large;
  text-align: center;
}
  


.form label {display: block;margin-bottom: 10px; font-weight: bold;
}
  
.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {width: 80%; 
}
  
  
.form input[type="submit"] {
  width: 60%; 
  padding: 10px; 
  background-color: #00046D; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
}
  
  
.form input::placeholder {
  color: #b3b1b1;
  margin-left: 5%; 
}
  
.form form {
  border: none; 
}
