.item{
    background-color: rgb(238, 238, 238);
    padding: 30px;
    width: 200px;
  
  }
  
  .status{
    display: flex;
    flex-direction: column;
  
  }
  
  .flex-baseText{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-right: 720px;
  }
  
  .supportButton{
    width: 320px;
    height: 60px;
    font-size: 16px;
    background-color: #111686;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3%;
  
  }
  
  
  .statusMain{
    font-weight: normal;
  }
  
  .carrousel-control{
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .blueText{
    color: #00046D;
  }
  
  .status-box{
    background-color: rgb(238, 238, 238);
    justify-content: flex-start;
    width: 1000px;
    margin: 0 auto 0 auto;
  }
  
  .ticketText{
    padding-right: 190px;
  }
  
  .buttonAlign{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
  
  }
  
  .alignDistance{
    display: flex;
    gap: 450px;
    align-items: last baseline;
  }
  
  .chatButton{
    width: 160px;
    height: 35px;
    background-color: #111686;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3%;
  }
  
  
  .title{
    font-weight: normal;
  }
  
  .item-title{
    color: #1B2A41;
    margin-top: 1px;  
  }
  
  .carrousel{
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }