.blueText{
  padding-top: 15px;
}

.blueText1{
  margin-left: 10%;
  color: #00046D;
}
.title{
  padding-bottom: 15px;
}
.titulo{
  text-align: center;
}

.itemTitle {
  font-size: 16px;
  color: #333;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
}

.conteudo {
  display: flex;
  flex-direction: column;
  margin: 5% auto 5% auto;
  align-items: center;
}
.button1 {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button1:hover{
  transform: scale(1.1) ;
}

.item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
}
  
.item button {
  border: none;
}

  .status{
    display: flex;
    flex-direction: column;
  
  }
  
  .flexBaseText{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    align-self: flex-start;
    margin-bottom: 4%;
  }
  
  .supportButton{
    width: 40vh;
    height: 6vh;
    font-size: 16px;
    background-color: #00046D;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-left: 8%;
  }
  
  .supportButton:hover {
    background-color: #0101A1;
  }

  .statusMain{
    font-weight: normal;
  }
  
  .carrouselControl{
    display: flex;
    gap: 20px;
    margin-top: 2rem;
    justify-content: center;
  }
  
  .blueText{
    color: #00046D;
  }
  
  .statusBox{
    background-color: rgb(238, 238, 238);
    justify-content: flex-start;
    width: 67vw;
    margin: 0 auto 0 auto;
  }
  
  .ticketText{
    padding-right: 190px;
  }
  
  .buttonAlign{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    margin-right: 2%;
  
  }
  
  .alignTicket {
    flex-grow: 1;
  }

  .alignDistance{
    display: flex;
    align-items: last baseline;
    flex-grow: 1;
  }
  
  .chatButton{
    width: 160px;
    height: 35px;
    background-color: #111686;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3%;
    margin-left: auto;
    /* margin-right: 20%; */
  }
  
  
  .title{
    font-weight: normal;
  }
  
  .item-title{
    color: #1B2A41;
    margin-top: 1px;  
  }
  
  .carousel-container {
    width: 100%;
    margin: auto;
    padding: 20px 0;
}

  .carousel .carousel-slider {
    display: flex;
    flex-direction: row;
}

  .carrousel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

@media (max-width: 768px) {
  .conteudo {
    margin-top: 15%;
    width: auto;
    
  }

  .item{
    background-color: rgb(238, 238, 238);
    padding: 30px;
    width: 14vw;
    height: auto;
  
  }
  
  .alignTicket{
    width: 30px;
    }

    .alignDistance{
      flex-direction: column;
      gap: 5px;
    }

    .chatButton{
      width: 150px;
      height: 35px;
    }

    .supportButton{
      width: 300px;
      margin-left: 20%;
    }

    .orangeRectangle{
      height: 160px;
      width: 10px;
    }

    .statusBox{
      width: auto;
    }

    .item{
      margin: 0 auto 0 auto;
      text-align: center;
    }
}
.accordionwrapper {
  min-height: 10vh;
  border: 100% solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}


.accordioncontent {
  display: flex;
  background-color: #ececec;
  flex-direction: column;
  width: 47.9vh; 
  max-height: 50vh;
  padding: 10px;

}
.accordiondescricao {
  word-wrap: break-word;
  max-width: 100%;
 font-size: medium;
  overflow: hidden;

}
.accordionexemplo{
  max-width: 100%;
  word-wrap: break-word;
  overflow: hidden;
  font-size: medium;
  color: #00046D;
}

.accordioncontent.open {
  max-height: 100%; /* Ajuste este valor conforme necessário */
}
.accordeonbutton{
  padding-left: 2vh;
  padding-bottom: 1.5vh;
  padding-top: 1.5vh;
  border: none;
  width: 50vh;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #dddada;
  border-radius: 5px;
}
.accordeontitle{
  color: #00046D;
  max-width: 100%;
  overflow: hidden;
  word-wrap: break-word;
}
.arrowDown {
  display: inline-block;
  padding-right: 5vh;
  width: 24px;
  height: 24px;
  margin-left: 2vh;
  background-image: url('./seta.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  
}





.carrousel-button{
  border: none;
}
@media (max-width:980px){
  .supportButton{
    width: 300px;
    margin-left: 4%;
  }
  .supportButton{
    width: 45vh;
    height: 5vh;
    margin-left: 4%;
  }
}
@media (max-width:1320px){
  .supportButton{
    width: 45vh;
    height: 5vh;
    margin-left: 4%;
  }
}