.blueText{
  padding-top: 15px;
}

.title{
  padding-bottom: 15px;
}

.conteudo {
  display: flex;
  flex-direction: column;
  margin: 5% auto 5% auto;
  align-items: center;
}

.item{
  background-color: rgb(238, 238, 238);
  padding: 30px;
  width: 14vw;
  height: 7vw;
  display: flex;
  flex-direction: column;
  align-items: center;

}
  
  .status{
    display: flex;
    flex-direction: column;
  
  }
  
  .flexBaseText{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    align-self: flex-start;
  }
  
  .supportButton{
    width: 22vw;
    height: 8vh;
    font-size: 16px;
    background-color: #111686;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3%;
  
  }
  
  .statusMain{
    font-weight: normal;
  }
  
  .carrouselControl{
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .blueText{
    color: #00046D;
  }
  
  .statusBox{
    background-color: rgb(238, 238, 238);
    justify-content: flex-start;
    width: 67vw;
    margin: 0 auto 0 auto;
  }
  
  .ticketText{
    padding-right: 190px;
  }
  
  .buttonAlign{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    margin-right: 2%;
  
  }
  
  .alignTicket {
    flex-grow: 1;
  }

  .alignDistance{
    display: flex;
    align-items: last baseline;
    flex-grow: 1;
  }
  
  .chatButton{
    width: 160px;
    height: 35px;
    background-color: #111686;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3%;
    margin-left: auto;
    /* margin-right: 20%; */
  }
  
  
  .title{
    font-weight: normal;
  }
  
  .item-title{
    color: #1B2A41;
    margin-top: 1px;  
  }
  
  .carrousel{
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

@media (max-width: 768px) {
  .conteudo {
    margin-top: 15%;
    width: auto;
    
  }

  .item{
    background-color: rgb(238, 238, 238);
    padding: 30px;
    width: 14vw;
    height: auto;
  
  }
  
  .alignTicket{
    width: 30px;
    }

    .alignDistance{
      flex-direction: column;
      gap: 5px;
    }

    .chatButton{
      width: 150px;
      height: 35px;
    }

    .supportButton{
      width: 300px;
      margin-left: 20px;
    }

    .orangeRectangle{
      height: 160px;
      width: 10px;
    }

    .statusBox{
      width: auto;
    }

    .item{
      margin: 0 auto 0 auto;
      text-align: center;
    }
}

/* @media (max-width: 769) */